* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fbfcff;
    color: #333;
    padding: 20px;
    height: 100vh;
}

header {
    margin: 30px;
    display: inline;
    justify-content: center;
}

.name {
    text-align: center;
    font-size: 30px;
    color: #E74C6F;
    text-shadow: 3px 3px 7px #000000b3; /* Sombra mais intensa no hover */
    font-weight: bold;
}

.nav-buttons {
    margin-top: 15px;
    text-shadow: 3px 3px 7px #000000b3; /* Sombra mais intensa no hover */
    align-items: center;
}

.nav-buttons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav-buttons ul li {
    display: inline; /* Garante que os itens fiquem em linha */
}

.nav-buttons ul li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #1E2A38; /* Define a cor do texto */
    padding: 50px 5px;
    border-radius: 8px;
    font-size: 20px;
}

.nav-buttons a:hover {
    background-color: #E74C6F;
    color: #ECE2D3;
}

.container {
    margin-top: 50px;
    background-color: #ECE1D3;
    border: 15px solid #ECE1D3;
    border-radius: 15px;
    box-shadow: 0px 0px 7px 7px #cac9c9b3;
}

h2 {
    text-align: center;
    margin: 20px;
}

.message-container {
    text-align: center;
    margin: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ECE1D3;
    border-radius: 5px;
}

button {
    background: #1E2A38;
    color: #ECE1D3;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background: #2b5480;
}

.social {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-midia {
    display: flex;
    align-items: center;
    margin-left: auto;
    filter: drop-shadow(3px 3px 5px #00000080); 
}

.social-midia p {
    margin: 10px;
}

.email {
    margin-right: 0px; 
    width: 45px;
}

.email:hover {
    filter: drop-shadow(4px 4px 7px #000000b3);
}

.linkedin {
    margin-right: 10px; 
    width: 50px;
}

.linkedin:hover {
    filter: drop-shadow(4px 4px 7px #000000b3); /* Sombra mais forte no hover */
}

.github {
    margin: 10px;
    width: 50px; 
}

.github:hover {
    filter: drop-shadow(4px 4px 7px #000000b3); /* Sombra mais forte no hover */
}

.instagram {
    margin-right: 10px;
    width: 50px; 
}

.instagram:hover {
    filter: drop-shadow(4px 4px 7px #000000b3); /* Sombra mais forte no hover */
}

.dark-mode {
    background-color: #1E2A38;
    color: #ECE1D3;   
}

@media (min-width: 768px) {

    .name {
        font-size: 24px;
    }

    .nav-buttons ul li a {
        padding: 20px 10px;
    }

    .container {
        margin-top: 50px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #cac9c9b3;
        padding: 10px;
    }

    form p {
        text-align: left;
        margin-left: 70px;
    }

    input, textarea {
        padding: 8px;
        width: 80%;
    }

    button {
        padding: 8px;
        width: 80%;
    }

    .social {
        flex-direction: column;
        gap: 10px;
    }

    .social-midia {
        margin-left: 0;
        justify-content: center;
    }
}

@media (min-width: 770px) {
    
    header {
        margin: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .name {
        font-size: 30px;
        color: #E74C6F;
        margin-left: 40px;
        text-shadow: 3px 3px 7px #000000b3; /* Sombra mais intensa no hover */
        font-weight: bold;
    }
    
    .nav-buttons {
        text-shadow: 3px 3px 7px #000000b3; /* Sombra mais intensa no hover */
    }
    
    .nav-buttons ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
    .nav-buttons ul li {
        display: inline; /* Garante que os itens fiquem em linha */
    }
    
    .nav-buttons ul li a {
        text-decoration: none; /* Remove o sublinhado dos links */
        color: #1E2A38; /* Define a cor do texto */
        padding: 20px 40px;
        border-radius: 8px;
    }
    
    .nav-buttons a:hover {
        background-color: #E74C6F;
        color: #ECE2D3;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
        height: auto; 
    }

    form p {
        text-align: left;
        margin-left: 85px;
    }
}
