* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ECE1D3;
    color: #333;
    padding: 20px;
}

/*header - My Journey*/

header {
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-size: 30px;
    color: #E74C6F;
    margin-left: 40px;
    text-shadow: 3px 3px 7px #000000b3; /* Sombra mais intensa no hover */
    font-weight: bold;
}

.nav-buttons {
    text-shadow: 3px 3px 7px #000000b3; /* Sombra mais intensa no hover */
}

.nav-buttons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav-buttons ul li {
    display: inline; /* Garante que os itens fiquem em linha */
}

.nav-buttons ul li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #1E2A38; /* Define a cor do texto */
    padding: 20px 40px;
    border-radius: 8px;
}

.nav-buttons a:hover {
    background-color: #E74C6F;
    color: #ECE2D3;
}

.container-text-image {
    display: flex; /* Usando Flexbox para layout horizontal */
    justify-content: space-between; /* Espaço entre os elementos */
    align-items: flex-start; /* Alinha os itens no topo */
    height: 100vh; /* Faz o contêiner ocupar toda a altura da página */
}

.left-container {
    display: flex;
    flex-direction: column; /* Empilha os elementos verticalmente */
    flex: 1; /* Faz essa coluna ocupar a metade da largura */
}

.title .text {
    padding: 20px;
    border-radius: 8px;
}

.right-container {
    flex: 1; /* Faz a imagem ocupar a outra metade da largura */
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
}

.girl-img {
    max-width: 80%; /* Garante que a imagem ocupe o tamanho correto */
    height: auto;
}

.title {
    margin: 0px 20px 5px 150px;
    color: #1E2A38;
    font-weight: bold;
    font-size: 50px;
}

.text {
    text-align: justify;
    width: 100%;
    color: #1E2A38;
    line-height: 25px; /* Espaço entre as linhas de texto */
}

.introduction {
    margin: 0px 100px 10px 150px;
}

.development {
    margin: 20px 100px 20px 150px;
}

.conclusion {
    margin: 20px 100px 20px 150px;
}

.container-ontop {
    display: flex;
    align-items: center;
}

.social-midia {
    display: flex;
    align-items: center;
    filter: drop-shadow(3px 3px 5px #00000080); 
}

.email {
    margin-right: 0px; 
    width: 45px;
}

.email:hover {
    filter: drop-shadow(4px 4px 7px #000000b3);
}

.linkedin {
    margin-right: 10px; 
    width: 50px;
}

.linkedin:hover {
    filter: drop-shadow(4px 4px 7px #000000b3); /* Sombra mais forte no hover */
}

.github {
    margin: 10px;
    width: 50px; 
}

.github:hover {
    filter: drop-shadow(4px 4px 7px #000000b3); /* Sombra mais forte no hover */
}

.instagram {
    margin-right: 10px;
    width: 50px; 
}

.instagram:hover {
    filter: drop-shadow(4px 4px 7px #000000b3); /* Sombra mais forte no hover */
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 1px solid #333;
    width: 100%;
    margin-top: 100px;
}

@media (max-width: 1000px) {
    
    header {
        display: inline;
        justify-content: center;
    }

    .name {
        text-align: center;
        width: 100%;
        margin: 0px;
        font-size: 24px;
        font-weight: bold;
    }

    .nav-buttons ul li a {
        padding: 50px 5px; 
        font-size: 20px;
    }

    .nav-buttons {
        margin-top: 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container-text-image {
        display: inline;
    }
    
    .title {
        margin: 25px 0px 0px 30px;
        font-size: 40px;
    }
    
    .text {
        width: 100%;
        font-size: 15px;
        line-height: 20px;
    }
    
    .girl-img {     
        max-width: 80%; /* Garante que a imagem ocupe o tamanho correto */
        height: auto;
    }
    
    .introduction {
        margin: 5px 30px 20px 30px;
    }
    
    .development {
        margin: 0px 30px 20px 30px;
    }
    
    .conclusion {
        margin: 0px 30px 20px 30px;
    }
    
    /*footer*/

    .container-ontop {
        width: 100%;
    }

    .social-midia {
        width: 100%;
        justify-content: center;
    }

    .github {
        width: 40px;
    }

    .linkedin {
        width: 40px;
    }

    .instagram {
        width: 40px;
    }

    footer p {
        text-align: center;
        font-size: 12px;
        width: auto;
    }

    .container-principal {
        height: 65vh;
    }
    
    footer {
        margin-top: 50px;
        flex-direction: column;
    }
}
