html {
    scroll-behavior: smooth;
}

section {
    min-height: 100vh;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home {
    background-color: #121212;
}

#journey {
    background-color: #1b1b1b;
}

#projects {
    background-color: #202020;
}

#contact {
    background-color: #151515;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1E2A38;
    color: #333;
    padding: 20px;
}

/*guide page and buttons*/

header {
    margin: 30px;
    padding: 30px;
    background-color: #e7e7e7;
    border-radius: 10px;
    box-shadow: 5px 5px 7px #000000b3;;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-size: 30px;
    color: #1E2A38;
    margin-left: 40px;
    font-weight: bold;
}

.container-ontop {
    display: flex;
    align-items: center;
}

.nav-buttons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav-buttons ul li {
    display: inline; /* Garante que os itens fiquem em linha */
}

.nav-buttons ul li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #1E2A38; /* Define a cor do texto */
    padding: 20px 40px;
    border-radius: 8px;
    font-size: 25px;
}

.nav-buttons a:hover {
    background-color: #E74C6F;
    color: #ECE2D3;
}

