* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1E2A38;
    color: #333;
    padding: 20px;
    height: 100vh;
}

header {
    margin: 30px;
    display: inline;
    justify-content: center;
}

.name {
    font-size: 30px;
    text-align: center;
    color: #007bff;
    text-shadow: 3px 3px 7px #000000b3;
    font-weight: bold;
}

.nav-buttons {
    margin-top: 15px;
    text-shadow: 3px 3px 7px #000000b3;
    align-items: center;
}

.nav-buttons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav-buttons ul li {
    display: inline;
}

.nav-buttons ul li a {
    text-decoration: none;
    color: #ECE2D3;
    padding: 50px 5px;
    border-radius: 8px;
    font-size: 20px;
}

.nav-buttons a:hover {
    background-color: #E74C6F;
    color: #ECE2D3;
}

h1{
    margin: 10px;
    padding: 10px;
    border: 10px;
    text-align: center;
    color: #ECE2D3;
    font-weight: bold;
    font-size: 40px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #1E2A38;
}

.project-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 5px 10px 10px #0000001a;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px #00000033;
}

.project-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.project-card a {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.project-card a:hover {
    background-color: #0056b3;
}

.container-ontop {
    display: flex;
    align-items: center;
    width: 100%;
}

.social-midia {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    filter: drop-shadow(3px 3px 5px #00000080); 
}

.email {
    margin-right: 0px;
    width: 40px;
}

.email:hover {
    filter: drop-shadow(4px 4px 7px #000000b3);
}

.linkedin {
    margin-right: 10px;
    width: 40px;
}

.linkedin:hover {
    filter: drop-shadow(4px 4px 7px #000000b3);
}

.github {
    margin: 10px;
    width: 40px;
}

.github:hover {
    filter: drop-shadow(4px 4px 7px #000000b3);
}

.instagram {
    margin-right: 10px;
    width: 40px;
}

.instagram:hover {
    filter: drop-shadow(4px 4px 7px #000000b3);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 1px solid #ECE2D3;
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
    color: #ECE2D3;
}

/* Adicionando a seção de outros projetos */
.other-projects {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #2C3E50;
    border-radius: 12px;
    color: #ECE2D3;
}

.other-projects h1 {
    font-size: 20px;
    margin-bottom: 16px;
    color: #ECE2D3;
}

.other-projects ul {
    list-style: none;
    padding: 0;
}

.other-projects li {
    margin: 12px 0;
}

.other-projects a {
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
}

.other-projects a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.other-projects h2 {
    font-size: 20px;
    margin: 20px;
}

@media (min-width: 768px) {
    .name {
        font-size: 24px;
    }

    .nav-buttons ul li a {
        padding: 20px 10px;
    }

    .container {
        margin-top: 50px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #cac9c9b3;
        padding: 10px;
    }
}

@media (min-width: 770px) {
    
    header {
        margin: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .name {
        font-size: 30px;
        color: #E74C6F;
        margin-left: 40px;
        text-shadow: 3px 3px 7px #000000b3; /* Sombra mais intensa no hover */
        font-weight: bold;
    }
    
    .nav-buttons {
        font-size: 10px;
        margin-top: 0px;
        text-shadow: 3px 3px 7px #000000b3; /* Sombra mais intensa no hover */
    }
    
    .nav-buttons ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
    .nav-buttons ul li {
        display: inline; /* Garante que os itens fiquem em linha */
    }
    
    .nav-buttons ul li a {
        text-decoration: none; /* Remove o sublinhado dos links */
        color: #ECE2D3; /* Define a cor do texto */
        padding: 20px 40px;
        border-radius: 8px;
        font-size: 16px;
    }
    
    .nav-buttons a:hover {
        background-color: #E74C6F;
        color: #ECE2D3;
    }

    h1{
        font-size: 50px;
    }
    
    .container-ontop {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .social-midia {
        justify-content: normal;
    }

    footer {
        flex-direction: row;
        padding: 20px;
        width: 100%;
        margin-top: 100px;
    }

    footer p {
        width: auto;
        white-space: nowrap;
        
    }
}
