* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1E2A38;
    color: #333;
    padding: 20px;
}

/*header - bruna lima*/

header {
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-size: 30px;
    color: #E74C6F;
    margin-left: 40px;
    text-shadow: 3px 3px 7px #000000b3; /* Sombra mais intensa no hover */
    font-weight: bold;
}

.container-ontop {
    display: flex;
    align-items: center;
}

.social-midia {
    display: flex;
    align-items: center;
    filter: drop-shadow(3px 3px 5px #00000080); 
}

.email {
    margin-right: 0px; 
    width: 45px;
}

.email:hover {
    filter: drop-shadow(4px 4px 7px #000000b3);
}

.linkedin {
    margin-right: 10px; 
    width: 50px;
}

.linkedin:hover {
    filter: drop-shadow(4px 4px 7px #000000b3); /* Sombra mais forte no hover */
}

.github {
    margin: 10px;
    width: 50px; 
}

.github:hover {
    filter: drop-shadow(4px 4px 7px #000000b3); /* Sombra mais forte no hover */
}

.instagram {
    margin-right: 10px;
    width: 50px; 
}

.instagram:hover {
    filter: drop-shadow(4px 4px 7px #000000b3); /* Sombra mais forte no hover */
}

/*container-principal*/
.container-principal {
    height: 90vh;
}

/*Photo and Graduation*/

.graduation {
    display: flex;
    justify-content: center; /* Alinha os elementos ao centro verticalmente */
    align-items: center;
    gap: 40px; /* Espaço entre os elementos */
    font-size: 30px;
    margin: 50px;
    color: #E74C6F;
    text-shadow: 7px 7px 10px #000000b3;
}

.title {
    width: 60%;
    font-size: 55px;
    font-weight: bold;
}

.text-container {
    display: flex;
    flex-direction: column; /* Empilha title e subtitle */
    width: 40%;
}

.subtitle {
    margin-top: 25px;
    font-size: 15px;
    color: #ECE2D3;
    width: 70%;
}

.circle-img-container { 
    margin: 30px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 2px solid #E74C6F; /* Aumentei um pouco a borda para mais destaque */
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Garante que a imagem não ultrapasse o contêiner */
    box-shadow: 7px 7px 10px #000000b3;
}

.circle-img {
    width: 100%; /* Garante que a imagem ocupe todo o espaço disponível no contêiner */
    height: 100%; /* Garante que a imagem ocupe todo o espaço disponível no contêiner */
    border-radius: 50%; /* Define o raio da borda para fazer a imagem parecer um círculo */
    object-fit: cover;
}

/*guide page (buttons)*/

.nav-buttons {
    text-shadow: 3px 3px 7px #000000b3; /* Sombra mais intensa no hover */
}

.nav-buttons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav-buttons ul li {
    display: inline; /* Garante que os itens fiquem em linha */
}

.nav-buttons ul li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #ECE2D3; /* Define a cor do texto */
    padding: 20px 40px;
    border-radius: 8px;
}

.nav-buttons a:hover {
    background-color: #E74C6F;
    color: #ECE2D3;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 1px solid #E74C6F;
    width: 100%;
    color: #E74C6F;
  }

  /*cellphone*/

  @media (max-width: 450px) {

    header {
        display: inline;
        justify-content: center;
    }

    .name {
        text-align: center;
        width: 100%;
        margin: 0px;
        font-size: 24px;
        font-weight: bold;
    }

    .text-container {
        width: 100%;
    }


    .nav-buttons ul li a {
        padding: 50px 5px; 
    }

    .nav-buttons {
        margin-top: 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container-principal {
        height: 73vh;
    }  

    .graduation {
        margin: 2px;
        display: flex;
        flex-wrap: wrap;
        align-items: normal;
        gap: 0px;
    }
    
    .title {
        width: 100%;
        font-size: 25px;
        font-weight: bold;
    }

    .subtitle {
        margin-top: 10px;
        font-size: 13px;
        color: #ECE2D3;
        width: 100%;
    }
    
    .circle-img-container { 
        width: 190px;
        height: 190px;
    }

    .container-ontop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; /* Alinha ao centro verticalmente */
        width: 100%;
    }
    
    .social-midia {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .github {
        width: 35px;
    }

    .linkedin {
        width: 35px;
    }

    .instagram {
        width: 35px;
    }

    footer {
        flex-direction: column;
    }

    footer p {
        text-align: center;
        width: auto;
    }
}

@media (max-width: 770px) {
    
    header {
        align-content: center;
    }

    .name {
        width: 100%;
        margin: 0px;
        font-size: 24px;
        font-weight: bold;
    }

    .nav-buttons ul li a {
        padding: 50px 5px; 
    }

    .container-principal {
        height: 73vh;
    }  

    .graduation {
        margin: 2px;
        display: flex;
        align-items: normal;
        gap: 0px;
        align-items: center;
    }
    
    .title {
        
        font-size: 30px;
    }

    .subtitle {
        margin-top: 10px;
        font-size: 13px;
        width: 100%;
    }

    .circle-img-container { 
        width: 190px;
        height: 190px;
    }

    .social-midia {
        width: 100%;
        justify-content: center;
    }

    .github {
        width: 40px;
    }

    .linkedin {
        width: 40px;
    }

    .instagram {
        width: 40px;
    }

    footer p {
        text-align: center;
        font-size: 12px;
        width: auto;
    }

    .container-principal {
        height: 65vh;
    }
}
