* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1E2A38;
    color: #333;
    padding: 20px;
}

/* html {
    background: linear-gradient(#355c7d 70%, #fff41d 20%)
}*/

/*header - bruna lima*/

header {
    margin: 30px;
    display: flex;
    align-items: center;
}

.name {
    font-size: 30px;
    color: #E74C6F;
    margin-left: 40px;
    text-shadow: 3px 3px 7px #000000b3; /* Sombra mais intensa no hover */
    font-weight: bold;
}

.container-ontop {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.search-container {
    margin-right: 50px;
}

.social-midia {
    display: flex;
    align-items: center;
    margin-left: auto;
    filter: drop-shadow(3px 3px 5px #00000080); 
}

.linkedin {
    margin-right: 10px; 
    width: 50px;
}

.linkedin:hover {
    filter: drop-shadow(4px 4px 7px #000000b3); /* Sombra mais forte no hover */
}

.github {
    margin: 10px;
    width: 50px; 
}

.github:hover {
    filter: drop-shadow(4px 4px 7px #000000b3); /* Sombra mais forte no hover */
}

.instagram {
    margin-right: 10px;
    width: 50px; 
}

.instagram:hover {
    filter: drop-shadow(4px 4px 7px #000000b3); /* Sombra mais forte no hover */
}

/*container-principal*/
.container-principal {
    height: 90vh;
}

/*Photo and Graduation*/

.graduation {
    display: flex;
    justify-content: center; /* Alinha os elementos ao centro verticalmente */
    align-items: center;
    gap: 40px; /* Espaço entre os elementos */
    font-size: 30px;
    margin: 50px;
    color: #E74C6F;
    text-shadow: 7px 7px 10px #000000b3;
}

.title {
    width: 60%;
    font-size: 55px;
    font-weight: bold;
}

.text-container {
    display: flex;
    flex-direction: column; /* Empilha title e subtitle */
    width: 40%;
}

.subtitle {
    margin-top: 25px;
    font-size: 15px;
    color: #ECE2D3;
    width: 70%;
}

.circle-img-container { 
    margin: 30px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 2px solid #E74C6F; /* Aumentei um pouco a borda para mais destaque */
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Garante que a imagem não ultrapasse o contêiner */
    box-shadow: 7px 7px 10px #000000b3;
}

.circle-img {
    width: 100%; /* Garante que a imagem ocupe todo o espaço disponível no contêiner */
    height: 100%; /* Garante que a imagem ocupe todo o espaço disponível no contêiner */
    border-radius: 50%; /* Define o raio da borda para fazer a imagem parecer um círculo */
    object-fit: cover;
}

/*guide page (buttons)*/

.nav-buttons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav-buttons ul li {
    display: inline; /* Garante que os itens fiquem em linha */
}

.nav-buttons ul li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #ECE2D3; /* Define a cor do texto */
    padding: 20px 40px;
    border-radius: 8px;
    background: radial-gradient(circle, #E74C6F -10000%, #007bff00 100%);
    transition: background-color 0.3s ease;
    
}

.nav-buttons a:hover {
    background-color: #E74C6F;
    color: #ECE2D3;
}

footer {
    border-top: 1px solid #E74C6F;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    text-align: end;
    color: #E74C6F;
  }
